/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY Y FUENTES */
body {
  /* background-color: gray; */
  background-image: url("../img/fondo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: "Great Vibes", sans-serif;
  font-size: 45px;
}

h3 {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 500;
  font-style: italic;
}
h4 {
  font-family: "Dancing Script", sans-serif;
  font-size: 25px;
}

/* BLOQUES */
.bloque {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.botones {
  flex-direction: row;
}
/* MAPAS */
.mapas {
  flex-direction: column-reverse;
  display: flex;
}

/* BOTONES DE SCROLL */
.scroll-btn {
  position: fixed;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px; /* Tamaño de fuente ajustado para dispositivos móviles */
  color: white;
  display: none; /* Oculta el botón inicialmente */
}

#scroll-prev {
  left: 20px;
  font-size: 30px;
  background-color: #ffffff;
  border: 1px solid #c19b69; /* Color del borde */
  color: #c19b69; /* Color del texto */
}

#scroll-next {
  right: 20px;
  font-size: 30px;
  background-color: #ffffff;
  border: 1px solid #c19b69;
  color: #c19b69; /* Color del texto */
}

#scroll-prev:hover {
  background-color: #ffecea;
}

#scroll-next:hover {
  background-color: #ffecea;
}
/* LINEAS CON EL ICONO */
.separator {
  display: flex;
  align-items: center;
}

.separator-line {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}

.separator-icon {
  margin: 0 10px; /* Ajusta el espacio entre la línea y el ícono según tus preferencias */
}

.church {
  font-size: 100px;
}
/* IMAGENES EN FORMA DE CORAZON */
.corazon-img {
  width: 200px; /* Ajusta el tamaño según tus necesidades */
  height: 200px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M12 21.35l-1.45-1.32C5.4 14.25 2 11.15 2 7.5 2 4.42 4.42 2 7.5 2 9.36 2 11.11 3.36 12 4.73 12.89 3.36 14.64 2 16.5 2 19.58 2 22 4.42 22 7.5c0 3.65-3.4 6.75-8.55 12.54L12 21.35z"/></svg>');
  background-size: cover;
}

#botonnovio,
#botonnovia {
  left: 20px;
  font-size: 18px;
  background-color: #c19b69;
  border: 1px solid #866b46; /* Color del borde */
  color: #ffffff; /* Color del texto */
}

#botonnovio:hover,
#botonnovia:hover {
  left: 20px;
  font-size: 20px;
  background-color: #866b46;
  border: 1px solid #866b46; /* Color del borde */
  color: #ffffff; /* Color del texto */
}

.padrinos {
  font-family: "Great Vibes", sans-serif;
  font-size: 45px;
}
